:root{  /* Dette er deklarering av globale variabler i css. Bare for lett endring av farge. https://www.w3schools.com/css/css3_variables.asp */
    --Main: rgb(200, 16, 46);    /* samme rød-farge som UIA logo */
    --MainBG: rgb(62, 13, 42);   /* mørk farge som parrer bra med Main fargen */
}

body{
    font-feature-settings: "liga" 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    --paragraph:0px;
    font-size: 14px;
}
.bakgrunnsfarge{
    background-color: var(--MainBG);
}
/* The device with borders */
.smartphone {
    position: relative;
    width: 375px;
    height: 667px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 45px;
    border-bottom-width: 55px;
    border-radius: 36px;
    color: white;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 375px;
    height: 667px;
    max-height: 667px;
    overflow-y: scroll;
}


.nav{
    background-color: var(--Main);
    position: absolute;
    display: flex; /*flex for å sikre at ikonene er jevnt fordelt*/
    height: 55px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /*utvide kompatibiliteten og støtter for mindre skjermer,  brukeren kan bla ikonene hvis det er nødvendig*/
}
.NavKnapp{
    color: white;
    font-family: "serif";
    font-size: 14px;
    display: flex;
    flex-grow: 1; /*jevnt fordelt beløp over navigasjonsknappene*/
    flex-direction: column; /*gjør at ikonen er over navnet*/
    align-items: center;
    min-width: 50px;
    overflow: hidden; /*sikrer navKnapp navnene ikke går over en ny linje, og at teksten ikke utvider mer enn bredden på knappen*/
    white-space: nowrap; /*----||-----*/
    justify-content: center;
    text-decoration: none; /*fjerne understreken*/
    -webkit-tap-highlight-color: transparent; /*fjerner blå uthevingsfarge når du klikker på lenken på mobilen*/
    transition: background-color 0.1s ease-in-out; /*Gjør hoveren smooth*/
}
.NavKnapp:hover, input[type=submit]:hover{
    background-color: maroon;
}
.active{
    color: black;
}
.IconName{
    font-size: 16px;
    color: black;
}




/* utforming av input feltene, referanse: https://www.w3schools.com/css/css_form.asp  */
input[type=text], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px 5px;
    display: inline-block;
    border: 1px solid var(--Main);
    border-radius: 4px;
    box-sizing: border-box;
}

.eventDescription {
    height: 100px;
    width: 96%;
    padding: 10px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow-y: scroll;
}

input[type=submit] {
    width: 100%;
    background-color: var(--Main);
    color: white;
    padding: 20px 20px;
    margin-top: 4px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    --paragraph:0px;
    text-transform: uppercase;
}


.label{
    height: 30px;
    vertical-align: bottom;
}
label{
    color: white;
}
#pageTitle {
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
