:root{  /* Dette er deklarering av globale variabler i css. Bare for lett endring av farge. https://www.w3schools.com/css/css3_variables.asp */
    --Main: rgb(200, 16, 46);    /* samme rød-farge som UIA logo */
    --MainBG: rgb(62, 13, 42);   /* mørk farge som parrer bra med Main fargen */
}

/* til alt innhold på siden */
body{
    font-feature-settings: "liga" 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    --paragraph:0px;
    font-size: 14px;
}

/* The device with borders */
.smartphone {
    position: relative;
    width: 375px;
    height: 667px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 45px;
    border-bottom-width: 55px;
    border-radius: 36px;
    color: white;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 375px;
    height: 667px;
    max-height: 667px;
    background-color: var(--MainBG);
}

/* ting under er til navbar */
.nav{
    background-color: var(--Main);
    position: absolute;
    display: flex; /*flex for å sikre at ikonene er jevnt fordelt*/
    height: 55px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /*utvide kompatibiliteten og støtter for mindre skjermer,  brukeren kan bla ikonene hvis det er nødvendig*/
}
.NavKnapp{
    color: white;
    font-family: "serif";
    font-size: 14px;
    display: flex;
    flex-grow: 1; /*jevnt fordelt beløp over navigasjonsknappene*/
    flex-direction: column; /*gjør at ikonen er over navnet*/
    align-items: center;
    min-width: 50px;
    overflow: hidden; /*sikrer navKnapp navnene ikke går over en ny linje, og at teksten ikke utvider mer enn bredden på knappen*/
    white-space: nowrap; /*----||-----*/
    justify-content: center;
    text-decoration: none; /*fjerne understreken*/
    -webkit-tap-highlight-color: transparent; /*fjerner blå uthevingsfarge når du klikker på lenken på mobilen*/
    transition: background-color 0.1s ease-in-out; /*Gjør hoveren smooth*/
}
.NavKnapp:hover, input[type=submit]:hover{
    background-color: maroon;
}
.active{
    color: black;
}
/* navbar label */
.IconName{
    font-size: 16px;
    color: black;
}
/* ting over er til navbar */



/* utforming av input feltene, referanse: https://www.w3schools.com/css/css_form.asp  */
input[type=text], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px 5px;
    display: inline-block;
    border: 1px solid var(--Main);
    border-radius: 4px;
    box-sizing: border-box;
}

/* info element i modal */
.eventDescription {
    height: 100px;
    width: 96%;
    padding: 10px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow-y: scroll;
}

/* navbar */
input[type=submit] {
    width: 100%;
    background-color: var(--Main);
    color: white;
    padding: 20px 20px;
    margin-top: 4px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    --paragraph:0px;
    text-transform: uppercase;
}

/* modal element */
.label{
    height: 30px;
    vertical-align: bottom;
}
label{
    color: white;
}
/* sier seg selv */
#pageTitle {
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* modal, eller pop.up vindu hvis du vil*/
#modal {
    position: absolute;
    top: 36%;
    bottom: 36%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 20px;
    background-color: var(--MainBG);
    z-index: 60000;
    display: flex;
    flex-flow: column;
    max-height: 28%;
    box-sizing: border-box;
    box-shadow: 0 0 25px 5px black;
}

/* tåka bak modal*/
.modal-js-overlay {
    background: #222;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    left: 0;
}
/* lille underteksten i modal, som er en <p> */
#modal p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: whitesmoke;
}
/* knappene i modalen */
.modalBtn{
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    border: 2px solid black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 5px 3px 0 darkred;
    background-color: var(--Main);
    cursor: pointer;
}
/* når du holder over en av knappene */
.modalBtn:hover{
    background-color: maroon;
}
/* når du trykker på en knapp */
.modalBtn:active{
    box-shadow: 0 1px 3px 0 darkred;
    transform: translateY(4px);
}
/* teksten i modalen */
.modalHeader{
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
}
/* knappene */
.modalFooter{
    text-align: center;
}