body{
    font-feature-settings: "liga" 0;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    --paragraph:0px;
    font-size: 13px;
}
.bakgrunnsfarge{
    background-color: rgb(62, 13, 42);
}
.elementBakgrunnsfarge{
    background-color: rgb(200, 16, 46);
}

/* The device with borders */
.smartphone {
    position: relative;
    width: 375px;
    height: 667px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 45px;
    border-bottom-width: 55px;
    border-radius: 36px;
    color: white;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 375px;
    height: 667px;
    max-height: 667px;
    overflow-y: scroll;
}


.nav{
    background-color: rgb(200, 16, 46);
    position: absolute;
    display: flex; /*flex for å sikre at ikonene er jevnt fordelt*/
    height: 55px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /*utvide kompatibiliteten og støtter for mindre skjermer,  brukeren kan bla ikonene hvis det er nødvendig*/
}
.NavKnapp{
    color: white;
    font-family: "serif";
    font-size: 20px;
    display: flex;
    flex-grow: 1; /*jevnt fordelt beløp over navigasjonsknappene*/
    flex-direction: column; /*gjør at ikonen er over navnet*/
    align-items: center;
    min-width: 50px;
    overflow: hidden; /*sikrer navKnapp navnene ikke går over en ny linje, og at teksten ikke utvider mer enn bredden på knappen*/
    white-space: nowrap; /*----||-----*/
    justify-content: center;
    text-decoration: none; /*fjerne understreken*/
    -webkit-tap-highlight-color: transparent; /*fjerner blå uthevingsfarge når du klikker på lenken på mobilen*/
    transition: background-color 0.1s ease-in-out; /*Gjør hoveren smooth*/
}
.NavKnapp:hover, input[type=submit]:hover{
    background-color: maroon;
}
.active {
    color: black;
}

.IconName{
    font-size: 16px;
    color: black;
}

#filterMeny{
    color: white;
    font-family: arial;
    font-size: 16px;
    border-radius: 24px;
    padding: 10px;
    margin-left: 5px;
}

.events {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(200, 16, 46,0.5);
}
.eventsTable{
    height: 85px;
}
.eventbarriere{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
}

