.body{
    margin: 0 0 55px 0;
}
.center {
    text-align: center;
    line-height: 1px;
}
/* The device with borders */
.smartphone {
    position: relative;
    width: 320px;
    height: 550px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 45px;
    border-bottom-width: 55px;
    border-radius: 36px;
}


/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 320px;
    height: 550px;
    background: white;
}
.nav{
    background-color: white;
    position: absolute;
    display: flex; /*flex for å sikre at ikonene er jevnt fordelt*/
    height: 55px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /*utvide kompatibiliteten og støtter for mindre skjermer,  brukeren kan bla ikonene hvis det er nødvendig*/
}
.NavKnapp{
    color: #5b0e2d;
    font-family: Calibri;
    font-size: 10px;
    display: flex;
    flex-grow: 1; /*jevnt fordelt beløp over navigasjonsknappene*/
    flex-direction: column; /*gjør at ikonen er over navnet*/
    align-items: center;
    min-width: 50px;
    overflow: hidden; /*sikrer navKnapp navnene ikke går over en ny linje, og at teksten ikke utvider mer enn bredden på knappen*/
    white-space: nowrap; /*----||-----*/
    justify-content: center;
    text-decoration: none; /*fjerne understreken*/
    -webkit-tap-highlight-color: transparent; /*fjerner blå uthevingsfarge når du klikker på lenken på mobilen*/
    transition: background-color 0.1s ease-in-out; /*Gjør hoveren smooth*/
}
.NavKnapp:hover{
    background-color: lightgrey;
}
.active{
    color: black;
}
.IconName{
    font-size: 16px;
}





/* border */
.eventborder {
    border: 3px solid black;
    position: relative;
    right: -120px;
    border-radius: 10px;
    background-color: green;
    width: fit-content;
}